@model PagedList.IPagedList<ItemMaster.Web.Models.ZppStock>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Product Info Database for QA";
}

<h2 class="text-primary" style="color: #117577 !important"><em>Product Info Database for QA</em> </h2>

<p>
    @Html.ActionLink("Create New Item", "Create")
    <br/>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="col-md-6" align="right" style="margin-left: -15px">
            @Html.TextBox("SearchContent", (string)ViewBag.CurrentSearch, new { @class = "form-control", @placeholder = "Enter search value" })
            
            <input id="searchPRNCPL" value="@ViewBag.searchPRNCPL" name="searchPRNCPL" type="checkbox"/> PRNCPL
          
            <input id="searchStorage" value="@ViewBag.searchStorage" name="searchStorage" type="checkbox"/> Storage condition

        </div>
        <div class="col-md-2" style="padding-left: 0; margin-left: -12px">
            <input type="submit" class="btn" value="Search" />
        </div>
    }
    
    @using (Html.BeginForm("ExportData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*<table>
            <tr><td></td><td><input type="submit" name="Export" id="Export" value="Export"/></td></tr>
        </table>*@
        <div class="col-md-2" style="">
            <input type="submit" class="btn" value="Export Data" style="margin-left: -130px" />
        </div>
    }
    <br/>
</p>

<br/>
<br/>
<br/>
<table class="table">
    <tr>
        <th>
            @*ZpItemCode*@
            Item Code
        </th>
        <th>
            @*ItemDescription*@
            Item Description
        </th>
        <th>
            @*ItemStorageCode*@
            Item Storage 
        </th>
        <th>
            Temptale
        </th>
        <th>
            Controlled Temperature
        </th>
        <th>
            Delivery Mode
        </th>
        <th>
            Storage Condition
        </th>
        <th>
            Principal
        </th>
        <th>
            Active
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZpItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemStorageCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Template)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlledTemperture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StorageCondition)
        </td>
        <td>
            @Html.DisplayFor(modeItem => item.PRNCode)
        </td>
        <td>
            @Html.DisplayFor(modeItem => item.StrActive)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { searchContent = (string)ViewBag.CurrentSearch, page }))

